<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <title></title>
</head>

<body>
    <form name="loginform" action="login/UserLogin" method="post" accept-charset="utf-8" >
        <h1>Account - Login</h1>
        <div>
            <label>Account:</label>
            <input type="text" name="account" placeholder="Input account">
        </div>
        <div>
            <label>PW：</label>
            <input type="text" name="password" placeholder="Input PW">
        </div>
        <div>
            <input type='submit' value='Submit'>
            <input type='button' value='Back' onclick="javascript: location.href='/'">
        </div>
    </form>
</body>

</html>
