<!DOCTYPE html>
<html>
	<h1>Account - List</h1>
	<input type='submit' value='Add' onclick="javascript: location.href='testdb/add'">
	<table>
		<tr>
			<th>name</th>
			<th>id</th>
		</tr>
		<% for ( var i = 0 ; i < data.length ; i++){ %>
		<tr>
			<td>
				<%= data[i].name  %>
			</td>
			<td>
				<%= data[i].workID  %>
			</td>
		</tr>
		<% } %>
	</table>
</html>
